<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PhamTienDat</display-name>
  <welcome-file-list>
  <welcome-file>home</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
   <servlet-name>phamtiendat</servlet-name>
  <servlet-class>phamtiendat.com.Controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>phamtiendat</servlet-name>
  <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
     <servlet>
   <servlet-name>loai</servlet-name>
  <servlet-class>phamtiendat.com.Controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>loai</servlet-name>
  <url-pattern>/category</url-pattern>
  </servlet-mapping>

     <servlet>
   <servlet-name>shop</servlet-name>
  <servlet-class>phamtiendat.com.Controller.ShopController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>shop</servlet-name>
  <url-pattern>/san-pham</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>product</servlet-name>
  <servlet-class>phamtiendat.com.Controller.ProductDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>product</servlet-name>
  <url-pattern>/detail-product</url-pattern>
  </servlet-mapping>
  
     <servlet>
   <servlet-name>search</servlet-name>
  <servlet-class>phamtiendat.com.Controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>search</servlet-name>
  <url-pattern>/search</url-pattern>
  </servlet-mapping>
   
     <servlet>
   <servlet-name>login</servlet-name>
  <servlet-class>phamtiendat.com.Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
      <servlet>
   <servlet-name>logout</servlet-name>
  <servlet-class>phamtiendat.com.Controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>logout</servlet-name>
  <url-pattern>/logout</url-pattern>
  </servlet-mapping>
     <servlet>
   <servlet-name>manager</servlet-name>
  <servlet-class>phamtiendat.com.Controller.ManagerController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>manager</servlet-name>
  <url-pattern>/manager</url-pattern>
  </servlet-mapping>
      <servlet>
   <servlet-name>delete</servlet-name>
  <servlet-class>phamtiendat.com.Controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>delete</servlet-name>
  <url-pattern>/delete</url-pattern>
  </servlet-mapping>
   <servlet>
   <servlet-name>add</servlet-name>
  <servlet-class>phamtiendat.com.Controller.AddController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>add</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>
   <servlet>
   <servlet-name>register</servlet-name>
  <servlet-class>phamtiendat.com.Controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>register</servlet-name>
  <url-pattern>/register</url-pattern>
  </servlet-mapping>
   <servlet>
   <servlet-name>cart</servlet-name>
  <servlet-class>phamtiendat.com.Controller.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>cart</servlet-name>
  <url-pattern>/cart</url-pattern>
  </servlet-mapping>
   <servlet>
   <servlet-name>blog</servlet-name>
  <servlet-class>phamtiendat.com.Controller.PageController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>blog</servlet-name>
  <url-pattern>/gioi-thieu</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>service</servlet-name>
  <servlet-class>phamtiendat.com.Controller.ServiceController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>service</servlet-name>
  <url-pattern>/dich-vu</url-pattern>
  </servlet-mapping>
     <servlet>
   <servlet-name>topic</servlet-name>
  <servlet-class>phamtiendat.com.Controller.TopicController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>topic</servlet-name>
  <url-pattern>/topic-detail</url-pattern>
  </servlet-mapping>
</web-app>